@import '../../../../style/style';

.film-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
  padding: 1%;

  &.film-card-border {
    border-bottom: 1px solid $accent-color;
  }
}

.film-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.poster {
  width: 14vw;
  height: 44vh;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid $supplement-light-color;
  border-radius: 20px;
}

.film-title {
  height: 15%;

  a {
    color: $supplement-dark-color;
    text-decoration: none;
  }

  h1 {
    margin: 0;
  }

  span {
    font-size: .6rem;
  }
}

.film-overview {
  p {
    font-size: .6rem;
    margin: 0;
  }
}

.film-votes {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }

  span {
    font-size: .7rem;
    color: $accent-color;
  }
}