@import '../../../../style/style.scss';

.film-card {
  display: flex;
  justify-content: space-between;
  padding: 1%;

  &.film-card-size {
    width: 100%;
    height: 60%;
  }

  &.film-card-border {
    border-bottom: 1px solid $accent-color;

    &:last-child {
      border: none;
    }
  }

  p {
    margin: 0;
  }
}

.poster {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &.poster-size {
    width: 9%;
    height: 90%;
  }

  &.poster-border {
    border: 1px solid $supplement-light-color;
    border-radius: 10px;
  }

}

