@import '../../style/style.scss';

.search-film-article {
  height: 60vh;
  background: $supplement-dark-color;

  display: flex;
  justify-content: center;
  align-items: center;

  &.search-film-article-bg-img {
    background-image: url('../../svg/search-bar-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.form-sizer {
  width: 80%;
  height: 10%;

  display: flex;
/*  border-radius: 25px;
  background: $main-color;*/
}

/*
.search-film {
  background: $main-color;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 10%;

  border-right: 1px solid $accent-color;
  border-left: 1px solid $supplement-light-color;
  border-bottom: 1px solid $supplement-light-color;
  border-top: 1px solid $accent-color;
  border-radius: 25px;
}*/

.search-film-form {
  display: flex;
  justify-content: center;
  align-items: center;
  //background: $main-color;

  &.search-film-form-size {
    width: 80%;
    height: 100%;
  }
}

.search-film-area {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.search-film-area-size {
    width: 80%;
    height: 60%;
  }

  &.search-film-area-position {
    position: absolute;
    top: 25%;
  }
}

.search-film-input {
  padding: 2%;
  background: $main-color;

  &.search-film-input-size {
    width: 100%;
    height: 100%;
  }

  &.search-film-input-border {
    //border-right: 1px solid $accent-color;
    //border-left: 1px solid $supplement-light-color;
    //border-bottom: 1px solid $supplement-light-color;
    //border-top: 1px solid $accent-color;
    border: none;
    border-radius: 25px;
  }

  &.search-film-font {
    font-size: 1.2em;
    color: $font-color;

    &::placeholder {
      font-size: 1.2em;
    }
  }
}

.result {
  height: 45vh;
  background: $main-color;
  border: 1px solid $supplement-light-color;
  border-radius: 25px;
}

.filter-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $supplement-light-color;
  color: $main-color;

  &.filter-categories-border {
    border: none;
    border-radius: 25px;
  }

/*  &.filter-categories-position {
    position: absolute;
    left: 92.3%;
    top: 6.9%;
  }*/

  &.filter-categories-size {
    width: 7.8%;
    height: 100%;
  }
}

.filter-categories-list {
  margin: 0;
  width: 20%;
  background: $main-color;
  border-radius: 20px;

  &.filter-categories-list-position {
    position: absolute;
    left: 80%;
    top: 14.5%;
  }
}