@import '../../style/style.scss';

.search-film-article {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60vh;
  background: $supplement-dark-color;

  &.search-film-article-bg-img {
    background-image: url('../../svg/search-bar-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.search-film-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background: $main-color;

  border-right: 1px solid $accent-color;
  border-left: 1px solid $supplement-light-color;
  border-bottom: 1px solid $supplement-light-color;
  border-top: 1px solid $accent-color;
  border-radius: 25px;

  &.search-film-form-size {
    width: 70%;
    height: 10%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $supplement-light-color;
    color: $main-color;
    border-radius: 25px;
    width: 15%;
    height: 100%;
    text-decoration: none;
  }
}

.search-film-input {
  background: $main-color;
  text-indent: 2%;

  &.search-film-input-size {
    width: 85%;
    height: 100%;
  }

  &.search-film-input-border {
    border-radius: 25px;
    border: none;
  }

  &.search-film-font {
    font-size: 1.2em;
    color: $font-color;

    &::placeholder {
      font-size: 1.2em;
    }
  }
}

.search-by {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15%;
  height: 10%;
  background: $main-color;

  border-radius: 25px;

  div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    transition: background .5s;
  }
}