.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin: 2% 0;
}

.gallery-img {
  width: 16vw;
  height: 19vh;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}